---
---

@import "{{ site.theme }}";
<link href="https://fonts.googleapis.com/css?family=Aclonica&display=swap" rel="stylesheet">


body {
  background-color: lightgray;
  font-family:'Aclonica', sans-serif;
}
aside {
  background-color: black;
}
li {
  color: black;
}
a {
  color:black;
  font-family: monospace;
}

