---
---

@import "{{ site.theme }}";
body {
  background-color: lightgray;
  font-family: 'Aclonica';
}
aside {
  background-color: black;
}
li {
  color: black;
}
a {
  color:black;
  font-family: monospace;
}

