---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');


body {
  background-color: lightgray;
  font-family:'Aclonica', sans-serif;
}
aside {
  background-color: black;
}
li {
  color: black;
}
a {
  color:black;
  font-family: monospace;
}

